<app-weather></app-weather>
<br>
<span>customer-app-rounting app is running!</span>
<h1> Changes done by ketan</h1>
<br>

<a routerLink = "/goToFirst">First</a>
<br>
<a routerLink = "goToSecond">Second</a>
<br>
<a routerLink = "cust">Customer</a>
<br>

<!-- <a routerLink="/goToFirst" routerLinkActive="active">First Component</a> -->

<h1>
    <a routerLink="/productForm" routerLinkActive="active">Product App</a> | 

    <a routerLink="/ProductDislay" routerLinkActive="active">Product Display</a> | 

    <a routerLink="/contactUs" routerLinkActive="active">Contact Us</a> | 

    <a routerLink="/aboutUs" routerLinkActive="active">About Us </a> | 

    <a routerLink="/employeeDetails" routerLinkActive="active">EmployeeDetails </a> | 

    <a routerLink="/TodosDetails" routerLinkActive="active">Todos </a> | 
</h1>

<router-outlet></router-outlet>
<hr>